.crypto-card {
  border: 1px solid #e0e0e0;
  margin: 10px;
  padding: 10px;
  transition: transform 0.3s ease;
  background-color: #f9f9f9;  /* Un fondo claro para cada tarjeta */
  border-radius: 10px;       /* Bordes redondeados para las tarjetas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sombra sutil */
  overflow: hidden;  /* Para que el borde redondeado funcione en imágenes, etc. */
  text-align: center;  /* Centra el contenido de la tarjeta */
}

.crypto-card:hover {
  transform: scale(1.02);
}

.input {
  margin: 20px;
  padding: 10px;
  width: 300px;
  border: 1px solid #0057a4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.crypto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;  /* Espacio entre las tarjetas */
  padding: 20px;
}

body {
  background-color: #a6cef4;  /* Fondo azul clarito */
}

.centerinput {
  display: flex;
  justify-content: center;
}
